---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
import Benefits from "../components/B_exporta.astro";
import Services from "../components/Sspec_exporta.astro";
---

<Layout title="Servicio Exportación">
	<main class="space-y-20">
		<Container>
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-10 md:pb-20 md:pt-32">
                    <div class="text-center space-y-10">
                        <h2 class="text-5xl font-medium leading-none md:text-6xl">Ya estás seguro de entrar a  México<br>y buscas un colaborador local<br>para posicionar tu producto</h2>
                        <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">Con una experiencia de más de 14 años comercializando productos europeos en el mercado Mexicano, nuestro personal conoce los retos relacionados con la importación de productos.</p>
                        <a class="px-9 py-5 bg-black hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://wa.me/2223733576" target="_blank">
                            <h2 class="text-center text-xl font-normal leading-7">Contáctanos</h2>
                        </a>
                    </div>
                </div>
            </div>
            <Benefits/>
        </Container>
        <Services/>
	</main>
</Layout>