---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="projects">       
    <Topic title="Clientes Potenciales" description="Algunos ejemplos de empresas o industrias a las que podemos ayudar" />
</div>

<div class="w-full p-12 bg-black rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Una compañía productora de químicos en forma de aerosol está en la búsqueda de socios distribuidores dentro de México especializados en el sector automotriz. En colaboración con Portolan Consultores, la compañía define las características deseables del distribuidor ideal. Una vez establecido el perfil, Portolan inicia la identificación y el contacto con posibles candidatos que cumplan con los criterios establecidos, con el fin de crear una lista preliminar de distribuidores potenciales que satisfagan los requerimientos específicos de la compañía.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Compañía productora de maquinaria para el sector del moldeo por inyección de plásticos busca exhibir sus productos en el evento PLASTIMAGEN, ubicado en la capital mexicana. La firma Portolan Consultores asiste en la obtención y diseño del espacio de exposición, así como en la compra de materiales de promoción dentro del país. Además, ofrece el servicio de importación temporal de maquinaria a México. Para concluir, Portolan se responsabiliza de organizar un programa de encuentros personalizados con potenciales compradores durante la duración de la feria.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
            </div>
        </div>
        <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
            <div class="w-full text-lg font-normal">Compañía que produce dispositivos para pruebas de materiales busca optimizar la entrega de sus productos en México. Para ello, Portolán Consultores coordina la importación y almacenamiento de los dispositivos en un almacén situado en una Zona de Libre Comercio en Veracruz. Los productos permanecen en el almacén hasta que son solicitados por el cliente; posteriormente, se realiza el pago de los impuestos aduaneros correspondientes y se envían directamente al destino del comprador.</div>
            <div class="justify-start items-center gap-[15px] inline-flex">
            </div>
        </div>
    </div>
    
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    
</div>

</Container>