---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import teamData from './Data/team.json';
import Accordion from "./Accordion.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <Topic title="Process" description="Step-by-Step Guide to Achieving Your Business Goals"/>
    </div>
    
    <div class="flex-row items-center py-5">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">
            {
                teamData.process.map((item) => {
                    return (
                    <Accordion
                    index= {item.index}
                    title={item.label}
                    description={item.content}
                    />
                    );
                })
            }
        </div>
    </div>
</Container>