---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Alt_Navbar from '../components/Alternative_Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import AlternativeNavbar from "../components/Alternative_Navbar.astro";
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Importación y exportación Europa - México" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/foro_contacto.svg" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  
  <meta name="generator" content={Astro.generator} />
  <title>Portolan</title>
  <meta
  name="Descripción"
  content="Expertos en traer productos de España a México."
  />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <ViewTransitions />
</head>
<body class="bg-white font-Merriweather-Regular">
  <Navbar />
  <slot />
  <Footer/>
</body>
</html>
